*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
      }
    
.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1{
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    
}
p{
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 17px;
    text-align: center
}
input, textarea{
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
   
  
}
.bg{
  width: 100%;
  position:absolute ;  
  z-index: -1;
  opacity: 0.7;
  
}
.submitMsg{
font-size: 20px;
color:white;
background-color: green;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}